/*--------------------------------------------------------------------------------------------*/

/* 设置等宽字体 */
/* xj.base 默认字体并不是等间距的，但做文档还是等间距字体更好，所以在这里重新设置一次 Iosevka */
/* 黑白主题的内容还不完善，不少插件有待改进就暂不启用了，把文本打散换行在移动端小屏幕会好看些 */

@font-face{font-family:Iosevka;src:url("../font/iosevka/6.1.2/iosevka-fixed-regular.woff2") format("woff2"), url("../font/iosevka/6.1.2/iosevka-fixed-regular.woff") format("woff");}
html{font-family:Iosevka, Menlo, Consolas, "Hiragino Sans GB", "Microsoft YaHei", Monospace;overflow-y:scroll;}

html:not([class*="xj-base"]) body{background-color:#f0f0f0;background-image:linear-gradient(90deg, rgba(204,204,204,0.5) 0%, transparent 100%), linear-gradient(90deg, transparent 0%, rgba(204,204,204,0.5) 100%);}
body{background-repeat:no-repeat;background-position:center left, center right;background-size:4px 100%, 4px 100%;word-break:break-all;line-break:anywhere;}



/* 左边的侧边栏 */
/* #pub_side - height:4px; 其实可为 0，但完全没高度在审查元素的时候不好定位，所以就稍微给个值 */
/* #pub_sideWrap - height:100vh; 父容器高度为 4px，所以只能用 vh 单位了，没横向滚动条就没问题 */

#pub_side{position:fixed;top:0;left:0;z-index:40;width:100%;height:4px;background-color:transparent;}
#pub_sidePack{position:relative;margin:0 auto 0;max-width:1280px;height:4px;background-color:transparent;}
#pub_sideMask{position:fixed;top:-64px;right:-64px;bottom:-64px;left:-64px;background-color:#000;opacity:0.50;}
#pub_sideWrap{position:absolute;top:0;left:0;width:240px;height:100vh;background-color:#fff;}

@media(min-width:1024px){
	#pub_sideMask{display:none;}
}
@media(max-width:1023px){
	#pub_sideMask{display:none;}
	#pub_sideWrap{display:none;}
	.pub_sideShow #pub_sideMask{display:block;}
	.pub_sideShow #pub_sideWrap{display:block;}
}

@media(min-width: 768px){}
@media(max-width: 767px){}

@media(min-width: 512px){}
@media(max-width: 511px){}



/* 顶部的导航栏 */
/* #pub_headForm 设置 height:4px;，这样在审查元素时能被看清，又不会占位导致 h1 文本无法被选择 */
/* pub_headFormIcon 得设置 z-index:20 避免 input 聚焦时被覆盖，设置背景色则是为了覆盖底部文字 */

#pub_head{top:0;left:0;z-index:36;width:100%;height:4px;background-color:transparent;}
@media(min-width:1024px){ #pub_head{position:absolute;padding-left:256px;} }
@media(max-width:1023px){ #pub_head{position:fixed;padding-left:0;} }

#pub_headPack{position:relative;margin:0 auto 0;max-width:1024px;height:64px;background-color:#fff;}
@media(min-width:1024px){ #pub_headPack{box-shadow:0 4px 8px rgba(255, 255, 255, 0.00);} }
@media(max-width:1023px){ #pub_headPack{box-shadow:0 4px 8px rgba(0,0,0,0.25);} }

#pub_headText{padding-top:12px;padding-bottom:12px;height:64px;font-weight:normal;line-height:40px;}
@media(min-width: 768px){ #pub_headText{padding-right:32px;padding-left:32px;} }
@media(max-width: 767px){ #pub_headText{padding-right:16px;padding-left:16px;} }
@media(min-width: 768px){ #pub_headText small{font-size:16px;} }
@media(max-width: 767px){ #pub_headText small{font-size:00px;} }

#pub_headForm{position:absolute;top:12px;width:auto;height:4px;}
@media(min-width: 768px){ #pub_headForm{right:80px;left:32px;} }
@media(max-width: 767px){ #pub_headForm{right:64px;left:16px;} }

#pub_headFormText{position:absolute;top:0;right:0;}
@media(min-width: 768px){ #pub_headFormText{width:240px;} }
@media(min-width: 512px) and (max-width: 767px){ #pub_headFormText{width:140px;} }
@media(max-width: 511px){ #pub_headFormText{width:40px;} #pub_headFormText:focus{width:100%;} }

#pub_headFormIcon{position:absolute;top:0;right:0;z-index:20;margin:1px;width:38px;height:38px;
background-color:#fff;color:#999;text-align:center;line-height:38px;cursor:text;}
#pub_headCode{position:absolute;top:12px;padding:0;width:40px;}
@media(min-width: 768px){ #pub_headCode{right:32px;} }
@media(max-width: 767px){ #pub_headCode{right:16px;} }



/* 中间主体部分 */

#pub_main{margin:80px auto 16px;max-width:1280px;}
@media(min-width:1024px){ #pub_main{padding-left:256px;} }

#pub_mainPack{min-height:calc(100vh - 160px);background-color:#ffffff;}
@media(min-width: 768px){ #pub_mainPack{padding:32px 32px 32px;} }
@media(max-width: 767px){ #pub_mainPack{padding:32px 16px;} }

#pub_mainPack > section:not(:last-of-type) > hr:last-of-type{margin:32px 0;}
#pub_mainPack > section:last-of-type > hr:last-of-type{margin:32px 0 0;}

#pub_mainPack h2{font-weight:normal;}
#pub_mainPack h3{font-weight:normal;}
#pub_mainPack h4{font-weight:normal;}
#pub_mainPack h5{font-weight:normal;}
#pub_mainPack h6{font-weight:normal;}



/* 最后面的注脚 */

#pub_foot{position:relative;width:100%;line-height:20px;}
@media(min-width:1024px){ #pub_foot{padding-left:256px;} }

#pub_footPack{margin:0 auto;max-width:1024px;background-color:#ffffff;}
@media(min-width: 768px){ #pub_footPack{padding:12px 32px 12px;} }
@media(max-width: 767px){ #pub_footPack{padding:12px 16px 12px;} }



/* 左侧的工具栏 */

#pub_tool{position:fixed;bottom:0;left:0;z-index:32;width:100%;height:4px;background-color:transparent;}
#pub_toolPack{position:relative;margin:0 auto;max-width:1280px;height:4px;background-color:transparent;}

#pub_toolSwitchDir{position:absolute;bottom:64px;padding:0;width:40px;box-shadow:0 4px 8px rgba(0,0,0,0.5);color:#999;}
#pub_toolBackToTop{position:absolute;bottom:12px;padding:0;width:40px;box-shadow:0 4px 8px rgba(0,0,0,0.5);color:#999;}

@media(min-width:1024px){ #pub_toolSwitchDir{display: none;} }
@media(max-width:1023px){ #pub_toolSwitchDir{display:block;} }

@media(min-width: 768px){ #pub_toolPack button{right: 12px;} }
@media(max-width: 767px){ #pub_toolPack button{right: 16px;} }



/*--------------------------------------------------------------------------------------------*/

/* 只有当 summary 的 display:list-item 才会有 ::marker 伪元素, 它仅支持字体属性, white-space, */
/* color, text-combine-upright, unicode-bidi, direction, content 这些样式, 并不支持背景的设置 */
/* summary 里有 block 标签如 h2, 文本过长会导致小三角和文本换行, 所以改用伪元素背景实现小三角 */
/* summary 使用 flex 布局, 以便换行时小三角能够垂直居中, summary 此时就只能有单个直接子元素了 */
/* 如果没有明文设置 summary, 浏览器也会自动帮忙补上, 但样式可能就不生效了, 所以千万不要这样做 */
/* 内容复杂时在 summary 后面用 div 包裹内容, 因为使用了通配符 * 所以用单个 p 标签放内容也可以 */
details{display:block;margin:0px 0px 16px 0px;}

details > summary{display:flex;list-style:none;counter-increment:none;padding:8px;cursor:pointer;box-shadow:0 0 0 1px #ccc inset;}
details[open] > summary{background-color:#f0f0f0;}
details > summary > *{margin-bottom:0;}

details > summary::marker{display:none;}
details > summary::before{flex:0 0 24px;content:" ";background-position:left center;background-repeat:no-repeat;
background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23999' d='M4 14V2l8 6z'/%3E%3C/svg%3E");}
details[open] > summary::before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23999' d='M2 4h12l-6 8-6-8z'/%3E%3C/svg%3E");}

details > content{display:block;margin-top:-1px;padding:16px;box-shadow:0 0 0 1px #ccc inset;}
details > content > *:last-child{margin-bottom:0;}

/* 紧凑模式, 用 div 容器包裹, 就无须每个标签都添加类名了, xj.theme 其他标签包裹也改用 pack 吧 */
.details-pack{padding-top:1px;margin-bottom:16px;}
.details-pack > details{margin-top:-1px;margin-bottom:0;}

/* 也许全部改成 revert, 具体等 xj.theme 重构再决定吧 */
.details-unset{margin-bottom:0;}
.details-unset > summary{padding:0;border:none;}
.details-unset > content{margin-top:0;padding:0;border:0;}
.details-unset > content > *:last-child{margin-bottom:revert;}

.summary-unset{padding:0;border:none;}
.summary-unset + *{margin-top:0;padding:0;border:0;}
.summary-unset + * > *:last-child{margin-bottom:revert;}



/*--------------------------------------------------------------------------------------------*/

/* 在 xj.theme 的基础上为 table 增加 sm 和 xs 尺寸 */
.table-sm{font-size:14px;}
.table-sm th{padding:6px;} .table-sm td{padding:6px;}
.table-xs{font-size:12px;}
.table-xs th{padding:4px;} .table-xs td{padding:4px;}



/*--------------------------------------------------------------------------------------------*/

/* IE11- 和 Edge15- 完全不支持 sticky 属性 */
/* Safari V12.1- 的 sticky 属性值需要添加 -webkit- 前缀 */
/* Chrome V56~90 和 Edge V16~18, 只支持 th 标签实现 sticky 属性值定位 */
/* .powerTable{width:1248px;} */
.powerTable thead th{position:-webkit-sticky;position:sticky;top:0;padding-bottom:10px;background-color:#fff;cursor:pointer;}
.powerTable thead th:before{position:absolute;bottom:-1px;left:0;width:100%;height:3px;background-color:#ccc;content:"";}
.powerTable thead th:after{position:absolute;top:-1px;left:0;width:100%;height:1px;background-color:#ccc;content:"";}
.powerTable thead th .icon{margin-left:2px;color:#ccc;}
.powerTable thead th span{display:inline-block;vertical-align:middle;}
.powerTable thead th .fa-sort-down, .powerTable thead th .fa-sort-up{color:#39f;}

.powerTable tbody td{vertical-align:middle;}

.powerTable.table-sm thead th{padding-bottom:8px;}
.powerTable.table-xs thead th{padding-bottom:6px;}

/* Firefox 的 table 使用 sticky 会导致边框失踪, 可借助 box-shadow 解决 */
/* 更多信息可参考 : https://bugzilla.mozilla.org/show_bug.cgi?id=1658119 */
/* 但是最后发现 box-shadow 并不工整, 所以使用了伪元素生成边框来解决这个问题 */
/* 得清掉在 .table-scrollable 中的表格的最后那个 th 的边框, 否则有横向滚动条 */
@supports (-moz-appearance:none){
	.powerTable thead th span:after{position:absolute;
	top:0;right:-1px;width:1px;height:calc(100% + 1px);background-color:#ccc;content:"";}
	.table-scrollable .powerTable thead th:last-of-type span:after{right:0;opacity:0.00;}
}

/* Edge15- & IE11- 并不支持 sticky 布局, 而且伪元素还会制造多余的错误边框, 所以这里直接隐藏掉 */
@supports (-ms-ime-align:auto) and (not (position:sticky)){ 
	.powerTable thead th:before, .powerTable thead th:after{display:none;} }
_:-ms-input-placeholder, .powerTable thead th:before, .powerTable thead th:after{display:none;}


