/* 设置播放器样式 */
.mainPoster{position:relative;margin-bottom:16px;}

.mainPosterImg{cursor:pointer;}
.mainPosterBgm{background-color:rgba(0,0,0,1.0);}
.mainPosterBgmAudio{border:2px solid #000;opacity:0.5;transition:opacity 500ms;}
.mainPosterBgmShift{position:absolute;top:8px;right:8px;border-radius:2px;opacity:0.5;transition:opacity 500ms;cursor:default;}

.mainPoster:hover .mainPosterBgmAudio{opacity:1;}
.mainPoster:hover .mainPosterBgmShift{opacity:1;}


